*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Roboto;
    background: #e0e0d1;
}

#logo{
    color:orange;
    display:inline;
}

.navbar{
    background-color: transparent;
    color: orange;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    opacity: 0.5;
}

.primary-icon{
    height: 50px;
    vertical-align:left;
   
}

.nav-list{
    list-style-type: none;
}

.nav-list .list-item{
    display:inline-block;
    padding: 20px 10px;
}

.navbar a{
    color: white;
    text-decoration: none;
}

.navbar a:hover{
    color: orange;
}

.item {
    height: 558px;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

.left {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-150%, -150%);
    color: white;
    background-color: black;
  }

  .container {
    position: relative;
    width: 100%;
    max-width: 400px;
  }
  
  .container .btn {
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: orange;
    color: white;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  
  .container .btn:hover {
    background-color: grey;
    color: black;
  }

  h1{
      color: orange;
      text-align: center;
  }

  p{
      font-style: italic;
      text-align: center;
  }

  .boxes{
    display: flex;
    justify-content: space-between;
    margin: 100px 50px 100px 50px;
    background-color: white;
    
}
.services h4{
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
    font-weight: bold;
}
.box1{
     box-shadow: 1px 1px 3px grey;
    }
    .box1 h5{
        margin :20px 20px 20px 20px;
        font-size: 16px;
    }
    .box1 p{
        margin: 0 20px 30px 20px;
    }


  
  .box1{
      flex: 1;
      background: #e0e0d1;
      padding: 50px;
      font-size: 20px;
      font-family: Roboto;
      text-align: center;
  }
  .box2{
    flex: 1;
    background: #e0e0d1;
    padding: 50px;
    font-size: 20px;
    font-family: Roboto;
    text-align: center;
}
.box3{
    flex: 1;
    background: #e0e0d1;
    padding: 50px;
    font-size: 20px;
    font-family: Roboto;
    text-align: center;
}

@media screen and (max-width:768px){
    .flex-container{
        flex-direction: column;
    }
}

.left_right{
    justify-content: center;    
}
.box {
    float: left;
    display: flex;    
}

#right{
    text-decoration: underline;
    text-align: center;
    height: 100px;
    background-color: black;
}

#right1{
    text-align: center;
    font-size: 20px;
    height:50px;
    color: white;
    background-color: black;
}

#right2{
    text-align: center;
    font-style: italic;
    font-size: 20px;
    height:100px;
    color: white;
    background-color: black;
}

#right3{
    text-align: center;
    font-size: 20px;
    height:80px;
    color: white;
    background-color: black;
}

.menu{
    text-align: center;
    padding-top: 250px;;
}

.flex-container1 {
    display: flex;
  height: 600px;
  flex-wrap: wrap;
  align-content: space-between;
}

.center {
    
    color: white;
    background-color: black;
  }

  