*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Roboto;
    background: #e0e0d1;
}

#logo{
    color:orange;
    display:inline;
}

.navbar{
    background-color: transparent;
    color: orange;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

.primary-icon{
    height: 50px;
    vertical-align:left;
   
}

.nav-list{
    list-style-type: none;
}

.nav-list .list-item{
    display:inline-block;
    padding: 20px 10px;
}

.navbar a{
    color: white;
    text-decoration: none;
}

.navbar a:hover{
    color: orange;
}

.item {
    height: 558px;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

.left {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-150%, -150%);
    color: white;
    background-color: black;
  }

  .container {
    position: relative;
    width: 100%;
    max-width: 400px;
  }
  
  .container .btn {
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: orange;
    color: white;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  
  .container .btn:hover {
    background-color: grey;
    color: black;
  }

  h1{
      color: orange;
      text-align: center;
  }

  p{
      font-style: italic;
      text-align: center;
  }

  .flex-container {
    display: flex;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    flex-direction: row;
    
  }
  
  .box1{
      flex: 1;
      background: #e0e0d1;
      padding: 50px;
      font-size: 20px;
      font-family: Roboto;
      text-align: center;
  }
  .box2{
    flex: 1;
    background: #e0e0d1;
    padding: 50px;
    font-size: 20px;
    font-family: Roboto;
    text-align: center;
}
.box3{
    flex: 1;
    background: #e0e0d1;
    padding: 50px;
    font-size: 20px;
    font-family: Roboto;
    text-align: center;
}

@media screen and (max-width:768px){
    .flex-container{
        flex-direction: column;
    }
}


.box {
    float: left;
    display: inline-block;
    
}

#right{
    text-decoration: underline;
    text-align: center;
}

#right1{
    text-align: center;
    font-size: 20px;
}

#right2{
    text-align: center;
    font-style: italic;
    font-size: 20px;
}

.menu{
    text-align: center;
}

.flex-container1 {
    display: flex;
  height: 600px;
  flex-wrap: wrap;
  align-content: space-between;
}


  