*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Roboto;
    background: #e0e0d1;
}

#logo{
    color:orange;
    display:inline;
}

.navbar{
    background-color: transparent;
    color: orange;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

.primary-icon{
    height: 50px;
    vertical-align:left;
   
}

.nav-list{
    list-style-type: none;
}

.nav-list .list-item{
    display:inline-block;
    padding: 20px 10px;
}

.navbar a{
    color: white;
    text-decoration: none;
}

.navbar a:hover{
    color: orange;
}

.item {
    height: 558px;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

.left {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-150%, -150%);
    color: white;
    background-color: black;
  }

  .container {
    position: relative;
    width: 100%;
    max-width: 400px;
  }
  
  .container .btn {
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: orange;
    color: white;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  
  .container .btn:hover {
    background-color: grey;
    color: black;
  }
  